.Gallery {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%;
padding: 0 12px;
}

.Gallery img {
    width: 100%;
}

.Images {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 12px;
}

.Images:hover {
    filter: opacity(0.6);
}